<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Autores | Biblioteca Aurora</title>
      <meta name="keywords" content="">
      <meta name="description" content="Perfiles de autores disponibles en la Biblioteca Aurora.">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout contact_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"> <a href="index.html" th:href="@{/}"><img src="images/logo.png" alt="#"></a> </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li> <a href="index.html" th:href="@{/}">Inicio</a> </li>
                                 <li><a href="books.html" th:href="@{/libros}">Libros</a></li>
                                 <li><a href="users.html" th:href="@{/usuarios}">Usuarios</a></li>
                                 <li class="active"><a href="authors.html" th:href="@{/autores}">Autores</a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <!-- end header -->
      <div class="contact-bg">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="abouttitle">
                     <h2>Autores destacados</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Authors -->
      <div class="Contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage3">
                     <h2>Perfiles</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="about-box">
                     <h3>Martina Sosa</h3>
                     <p>Reconocida por su serie juvenil "Luces del Oeste". Combina narrativa fantastica con problematicas sociales actuales.</p>
                     <p>Ejemplares en biblioteca: 12 | Prestamos activos: 7</p>
                     <p>Ultima actividad: Taller de escritura creativa (05/2024).</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="about-box">
                     <h3>Tomas Pereyra</h3>
                     <p>Especialista en ciencias de datos y consultor en transformacion digital. Sus manuales tecnicos son referencia para carreras universitarias.</p>
                     <p>Ejemplares en biblioteca: 9 | Reservas activas: 5</p>
                     <p>Ultima actividad: Conferencia "Datos abiertos para bibliotecas" (03/2024).</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="about-box">
                     <h3>Laura Caceres</h3>
                     <p>Historiadora especializada en patrimonio regional. Lidera proyectos de recuperacion de archivos y publicaciones escolares.</p>
                     <p>Ejemplares en biblioteca: 6 | Prestamos activos: 2</p>
                     <p>Ultima actividad: Presentacion "El vino como identidad" (04/2024).</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="about-box">
                     <h3>Federico Olmos</h3>
                     <p>Enologo mendocino con amplia trayectoria en bodegas boutique. Sus manuales tecnicos se consultan desde el laboratorio.</p>
                     <p>Ejemplares en biblioteca: 4 | Prestamos en sala: 3</p>
                     <p>Ultima actividad: Cata comentada para estudiantes (05/2024).</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="about-box">
                     <h3>Colectivo Sabores del Valle</h3>
                     <p>Equipo interdisciplinario que recopila recetas tradicionales y relatos de productores locales.</p>
                     <p>Ejemplares en biblioteca: 5 | Disponibles: 5</p>
                     <p>Ultima actividad: Feria gastronomica solidaria (02/2024).</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="about-box">
                     <h3>Juliana Olivieri</h3>
                     <p>Consultora cultural enfocada en la gestion sustentable de espacios creativos. Sus libros incluyen modelos financieros aplicables.</p>
                     <p>Ejemplares en biblioteca: 7 | Prestamos activos: 1</p>
                     <p>Ultima actividad: Seminario virtual "Economia creativa" (01/2024).</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="Books">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2>Relacion con <strong class="black">el catalogo</strong></h2>
                     <span>Identifica rapidamente que obras pertenecen a cada autor y coordina eventos de firma o presentaciones.</span> 
                  </div>
               </div>
            </div>
            <div class="row box">
               <div class="col-md-12">
                  <p>Biblioteca Aurora sincroniza las fichas de autores con los libros registrados, permitiendo filtrar por series, coautorias y ediciones especiales. Integrado con la pagina de Libros para mostrar disponibilidad y estadisticas de prestamos.</p>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="read-more">
                        <a href="books.html" th:href="@{/libros}">Ir al catalogo</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Authors -->
      <!-- footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row pdn-top-30">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                     <div class="Follow">
                        <h3>Follow Us</h3>
                     </div>
                     <ul class="location_icon">
                        <li> <a href="#"><img src="icon/facebook.png" alt="Facebook"></a></li>
                        <li> <a href="#"><img src="icon/Twitter.png" alt="Twitter"></a></li>
                        <li> <a href="#"><img src="icon/linkedin.png" alt="LinkedIn"></a></li>
                        <li> <a href="#"><img src="icon/instagram.png" alt="Instagram"></a></li>
                     </ul>
                  </div>
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                     <div class="Follow">
                        <h3>Newsletter</h3>
                     </div>
                     <input class="Newsletter" placeholder="Ingresa tu email" type="email" name="newsletter">
                     <button class="Subscribe" type="button">Suscribirse</button>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>
