<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EDIT EMPLEADO</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="~{fragments/menubody :: menu-principal}"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>EDIT EMPLEADO</strong></h4>              
          <div class="card-body">
			
            <form th:action="@{/empleado/aceptarEditEmpleado}" th:object="${empleado}" method="post">
			
			  <div th:if="${msgExito != null}" class='alert alert-success' th:text="${msgExito}" role='alert'></div>    
			  <div th:if="${msgError != null}" class='alert alert-danger' th:text="${msgError}" role='alert'></div> 
			   <h5>Datos</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" th:field="*{id}">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" th:field="*{nombre}" placeholder="Escriba el nombre" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="apellido">Apellido</label>
                                <input type="text" class="form-control" th:field="*{apellido}" placeholder="Escriba el apellido" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefono">Telefono</label>
                                <input type="text" class="form-control" th:field="*{telefono}" placeholder="Escriba el telefono" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="correo">Correo</label>
                                <input type="text" class="form-control" th:field="*{correoElectronico}" placeholder="Escriba su gmail" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipodocumento">Tipo de Documento</label>
                                <select id="tipo" th:field="*{tipoDocumento}" class="form-control" th:disabled="${isDisabled}">
                                    <option th:each="t : ${tipoDocumento}" 
                                    th:value="${t}" 
                                    th:text="${t}">Tipo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="documento">Documento</label>
                                <input type="text" class="form-control" th:field="*{numeroDocumento}" placeholder="Escriba el N° de documento, Pasaporte o CUIT" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" th:field="*{fechaNacimiento}" placeholder="Ingrese la fecha de nacimiento" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipoEmpleado">Tipo de Empleado</label>
                                <select id="tipoEmpleado" th:field="*{tipoEmpleado}" class="form-control" th:disabled="${isDisabled}">
                                    <option th:each="tipoEmpleado : ${tipoEmpleado}" 
                                    th:value="${tipoEmpleado}" 
                                    th:text="${tipoEmpleado}">Tipo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- LUGAR DE TRABAJO -->
                    <h5>Lugar de Trabajo</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empresa">Empresa</label>
                                <select class="form-control" name="idEmpresaSeleccionada" th:disabled="${isDisabled}">
                                    <option th:each="empresa : ${listaEmpresa}" 
                                            th:value="${empresa.id}" 
                                            th:text="${empresa.nombre}"
                                            th:selected="${empresa.id} == ${empleado.sucursal?.empresa?.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sucursal">Sucursal</label>
                                <select class="form-control" name="sucursalSeleccionada" th:disabled="${isDisabled}">
                                    <option th:each="sucursal : ${listaSucursal}"
                                     th:value="${sucursal.id}" 
                                     th:text="${sucursal.nombre}"
                                     th:selected="${sucursal.id} == ${empleado.sucursal?.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- DIRECCION -->
                    <h5>Direccion</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pais">Pais</label>
                                <select class="form-control" name="idPaisSeleccionada" th:disabled="${isDisabled}">
                                    <option th:each="pais : ${listaPais}" th:value="${pais.id}" th:text="${pais.nombre}"
                                            th:selected="${pais.id} == ${empleado.direccion?.localidad?.departamento?.provincia?.pais?.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="provincia">Provincia</label>
                                <select class="form-control" name="idProvinciaSeleccionada" th:disabled="${isDisabled}">
                                    <option th:each="prov : ${listaProvincia}" th:value="${prov.id}" th:text="${prov.nombre}"
                                            th:selected="${prov.id} == ${empleado.direccion?.localidad?.departamento?.provincia?.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="departamento">Departamento</label>
                                <select class="form-control" name="idDepartamentoSeleccionada" th:disabled="${isDisabled}">
                                    <option th:each="dep : ${listaDepartamento}" th:value="${dep.id}" th:text="${dep.nombre}"
                                            th:selected="${dep.id} == ${empleado.direccion?.localidad?.departamento?.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="localidad">Localidad</label>
                                <select class="form-control" th:field="*{direccion.localidad.id}" th:disabled="${isDisabled}">
                                    <option th:each="loc : ${listaLocalidad}" th:value="${loc.id}" th:text="${loc.nombre}"
                                            th:selected="${loc.id} == ${empleado.direccion?.localidad?.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" th:field="*{direccion.id}" />
                                <label for="calle">Calle</label>
                                <input type="text" class="form-control" th:field="*{direccion.calle}" placeholder="Escriba la calle" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="numeracion">Numeración</label>
                                <input type="text" class="form-control" th:field="*{direccion.numeracion}" placeholder="Escriba la numeración" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="barrio">Barrio</label>
                                <input type="text" class="form-control" th:field="*{direccion.barrio}" placeholder="Escriba el nombre del barrio" required th:disabled="${isDisabled}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="manzanaPiso">Manzana/Piso</label>
                                <input type="text" class="form-control" th:field="*{direccion.manzanaPiso}" placeholder="" th:disabled="${isDisabled}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="casaDepartamento">Casa/Departamento</label>
                                <input type="text" class="form-control" th:field="*{direccion.casaDepartamento}" placeholder="" th:disabled="${isDisabled}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="referencia">Referencia</label>
                                <input type="text" class="form-control" th:field="*{direccion.referencia}" placeholder="Agregar Referencia (opcional)" th:disabled="${isDisabled}">
                            </div>
                        </div>
                    </div>

                    <!-- USUARIO DEL SISTEMA -->
                    <h5>Usuario del Sistema</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" th:field="*{usuario.id}" />
                                <label for="rolUsuario">Rol de Usuario</label>
                                <select id="rolUsuario" th:field="*{usuario.rol}" class="form-control" th:disabled="${isDisabled}">
                                    <option th:each="rolUsuario : ${rolUsuario}" 
                                    th:value="${rolUsuario}" 
                                    th:text="${rolUsuario}">Tipo</option>
                                </select>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombreUsuario">Nombre Usuario</label>
                                <input type="text" class="form-control" th:field="*{usuario.nombreUsuario}" placeholder="Ingrese el nombre del usuario" th:disabled="${isDisabled}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="clave">Clave</label>
                                <input type="password" class="form-control" th:field="*{usuario.clave}" placeholder="Ingrese la contraseña del usuario" th:disabled="${isDisabled}">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="d-grid gap-2 float-right justify-content-md-end">
                        <button type="submit" class="btn btn-primary" th:disabled="${isDisabled}">ACEPTAR</button>
                        <a class="btn btn-primary" th:href="@{/empleado/cancelarEditEmpleado}" role="button">CANCELAR</a>
                    </div>
            
			</form>
			 
          </div>
        </div>
      </div> 
	  
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
	    
  </body>
</html>
